:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*vars*/
  --base-blue-color: #e3e9ff;
  --base-text-color: #8c99bb;
  --base-purple-color: #af7eeb;
}

body {
  background-color: var(--base-blue-color);
  padding-top: 100px;
}

/* layout */
.layout-container {
  max-width: 640px;
  margin: 0 auto;
}

/* Title */
.title-component__container {
  background-color: var(--base-purple-color);
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  margin-bottom: 40px;
}

.title-component__container > .title-component__title {
  margin: 0;
  font-size: 1.4em;
}

/*List*/
.list-component__container {
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  padding: 40px 40px 0 40px;
  margin-bottom: 60px;
}

.list-component__container > .list-component__list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.list-component__container > .list-component__add-button {
  display: block;
  margin: 0 auto;
  border: none;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  background-color: var(--base-purple-color);
  padding: 10px 20px;
  position: relative;
  top: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  font-size: 18px;
}

.task-component__container {
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

/*ListItem*/
.list-item-component__container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.list-item-component__container > .list-item-component__marker {
  width: 10px;
  height: 10px;
  background-color: red;
  border: 2px solid var(--base-text-color);
  border-radius: 50%;
}

.list-item-component__container >.list-item-component__title {
  margin: 0;
  flex-grow: 2;
}

.list-item-component__container > .list-item-component__delete {
  display: block;
  width: 10px;
  height: 10px;
}


/* Task component container */
.task-component__container {
  padding: 40px;
}

.task-component__container > .task-component__title-label {
  display: block;
  width: 100%;
}

.task-component__container > .task-component__title-input {
  display: block;
  width: 95%;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.task-component__container > .task-component__description-label {
  display: block;
  width: 100%;
}

.task-component__container > .task-component__description-text-area {
  display: block;
  width: 95%;
  height: 100px;
  resize: none;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.task-component__container > .task-component__priority-selector {
  display: block;
  width: 99%;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.task-component__container > .task-component__save-button {
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}

.task-component__container > .task-component__close-button {
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
}
